// Custom.scss
// Option A: Include all of Bootstrap
// Modifying the color theme with the color scheme from 
// https://elementary.io/brand
// $primary: #7239b3;

// Kuşun renkleri
$purple-1: #5b3e92;
$purple-2: #824292;
$purple-3: #b6519a;
$purple-4: #d172ab;

$blue-1: #265ba6;
$blue-2: #2177bc;
$blue-3: #3f96d2;
$blue-4: #45b8e8;
$blue-5: #63c7ed;

$green-1: #2f9a73;
$green-2: #40ab86;
$green-3: #50b99a;

$red-1: #c33118;
$orange-1: #e95c19;
$yellow-1: #f9c04d;

$primary: $blue-1;
$warning: $yellow-1;
$success: $green-1;
$info: $purple-1;
// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// 5. Add additional custom code here
html,
body{
    font-family: 'Comfortaa', cursive;
    position: relative;
    margin: 0;
    padding: 0;
}
header,
#intro {
    height: 100vh;
}

#intro {
    background: url("/assets/particles.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $primary;
}

#intro-eng {
    // height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/eng-background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1.0;
}

.mask {
    filter: brightness(0.0);
}

.footer-eng {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/eng-background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.event-image {
    max-height: 400px;
}

.working-group-image {
    max-height: 50px;
}

.discord-image {
    max-height: 300px;
}

p.date {
    color: $purple-1;
}

.icon {
    margin-right: 1rem;
}

.intro-button {
    height: 5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.section {
    margin-top: $nav-link-height;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}

.english {
    color: $purple-3;
}

#biz-kimiz,
#etkinlik,
#working
{
    padding-top: 60px;
}

h1.title {
    font-weight: 700;
}

strong {
    font-weight: 700;
}